/* 
For some reason, when i build the app and copy the build files to django the scale is different. 
I have to set the font size to 18px to get the same scale as in development */
html {
  font-size: 18px; /*define the base font that the app scale is based on*/
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.primary_color {
  background-color: #1d5379 !important;
  color: #f5f5f5 !important;
}

.complimentary_color {
  color: #f5f5f5;
  transition: color 0.5s;
}

.navbar .complimentary_color {
  color: #f5f5f5 !important;
}

.complimentary_color:hover,
.complimentary_color:focus {
  color: #f0c893 !important;
}

.button {
  border-radius: 0.4375rem;
  background-color: #1d5379;
  color: #f5f5f5;
  text-decoration: none;
  padding: 0.375rem 0.625rem;
  transition: 0.5s;
}

.button:hover,
.button:focus {
  color: #f0c893;
}

.town_hall_text {
  font-size: 4.375rem;
  text-align: center;
}

/* copilot gave me the following 4 */
.image_container {
  position: relative;
  height: 15.625rem;
}

.first_image,
.second_image,
.third_image {
  position: absolute;
  max-width: 100%; /* avoids overlaping */
}

.first_image {
  right: -0.625rem;
  z-index: 1;
}

.second_image {
  right: -0.3125rem;
  z-index: 2;
}

.third_image {
  right: -5px;
  z-index: 1;
}

.active_step,
.inactive_step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
}

.active_step {
  color: #f0c893;
  background-color: #1d5379;
}

.inactive_step {
  color: #000;
  background-color: rgb(206, 202, 202);
}
.document_picture {
  max-width: 50%;
  max-height: 80%;
}
.active_tab {
  background-color: #1d5379 !important;
  color: #f5f5f5 !important;
}
.profile_picture {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 20%;
  object-fit: cover;
}
/* copilot */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 20%;
  z-index: 1000;
}
/* copilot */
.badge {
  background-color: red;
}
.post_profile_picture {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
}
.comment_profile_picture {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  object-fit: cover;
}

.service_image {
  width: 31.25rem;
  height: 17.1875rem;
}

.banner_image {
  width: 18.75rem;
  height: 12.5rem;
}
